.text-center {
    text-align: center;
}
.heading-small {
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}

/* colors */

.bg-dark-blue{
    background: #062e51;
    align-items: left;

}
.bg-light-blue{
    background: #336ea2;
}

/* button */

.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.btn-primary{
     background: #336ea2;
}
.btn-primary:hover{
    color: #336ea2;
    background: white;
    border: 0.5px solid #336ea2;
}
.btn-dark{
    background: #333;
}
.btn-dark:hover{
    color: #fff;
    background: rgb(25, 177, 197);
    border: 0.5px solid #333;
}
  
 /* FORM */

.form-group{
    padding: 0.25rem;

}
.form-group label{
    display: block;
}dc
.form-control{
    width: 100½;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;

}


/* container */  

.container {
    max-height: 1100px;
    margin: 0 auto;
}

